.docker
.settings
.project
.idea
.classpath
*.iml
bin/
target/
*.swp
.DS_Store
.factorypath
.secdata
.vimspector.json
# UI Build output
node_modules
dist
lib
node
reactjs
bundle-*
**/resources/static/index.html
**/resources/api/*.yaml
**/.sts4-cache
**/hs_err*.log
**/data/config
**/data/
**/data/preferences
.flattened-pom.xml
pom.xml
.local.config.yaml
.local.service.config.yaml

# UI test reports
allure-*

# jenv
.java-version
licenses.csv
